/* For Small Mobile Phones */
@media only screen and (max-width: 356px) {
  h5, p {
    font-size: 12px;
  }
}
/* For Mobile Phones */
@media only screen and (max-width: 600px) {
  h5, p {
    font-size: 14px;
  }
}
/* For Desktops */
@media only screen and (max-width: 993px) {
  h5, p {
    font-size: 17px;
  }
}

#background {
  height: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
  button{
    margin: 2rem;
  }
}

/*#dropdownPatients{ Maybe can be used
  background: white;
  border-radius: 4%;
  box-shadow: 2px -2px 13px 3px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: none;
  position: relative;
  width: 75px;
  z-index: 1;
  li{
    border-radius: 4%;
    color: black; 
    cursor: pointer;
    line-height: 27px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
  }
  li:hover{
    background-color: #e0d9d9;
  }
}

#dropdownPatients:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-right: 8px solid transparent;
  border-bottom: 6px solid white;
  border-left: 8px solid transparent;
  margin: -6px 0px 0px 30px;
}*/

#background {
  height: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  width: 100%;
}

#info{
  max-height: 99%;
  overflow-y: auto;
  .col{
    #optionCard{
      a{
        cursor: pointer;
        p{
          font-size: 16px;
        }
      }
    }
  }
}

#mainPanel {
  padding: 4%;
  overflow-y: hidden;
  .gray-color{
    color: gray;
  }
  h4{
    padding: 0 0.5rem;
    font-size: 1.7rem;
    margin-top: 0;
    margin-left: 0 !important;
  }
}

#optionCard{
  div{
    border-radius: 5px;
  }
  .card .card-content{
    padding: 0;
  }
  .row{
    margin: 0px;
    p{
      margin: 5px;
    }
  }
}

#panelChosed{
  margin: 0.5rem auto 1rem auto;
  min-height: 450px;
  max-height: 600px;
  overflow-y: auto;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  #edit{
    .card{
      margin: 1rem;
      max-width: 215px;
      max-height: 270px;
      padding: 0;
      img{
        margin: 1rem;
      }
    }
    #p1{
      color: black;
      margin: 0;
      font-size: 14px;
    }
    #p2{
      color: #ffb444;
      margin: 0;
      font-size: 13px;
    }
    form{
      margin-top: 5px;
      padding: 5px;
      #sections{
        color: gray;
      }
      input{
        color: gray;
        margin-bottom: 1%;
      }
      textarea.materialize-textarea{
        padding: 10px 0 1.6rem 0;
        margin-bottom: 1%;
      }
      .row .col{
        padding-left: 0;
        margin-top: 0;
      }
      .input-field label{
        color: #ffb444;
        left: 0rem;
        font-size: 0.8rem;
        -webkit-transform: translateY(-140%);
        -moz-transform: translateY(-140%);
        -ms-transform: translateY(-140%);
        -o-transform: translateY(-140%);
        transform: translateY(-140%);
      }
    }
  }
}

#dropdownSections{
  background: white;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  display: none;
  position: relative;
  z-index: 1;
  li{
    border-radius: 4%;
    color: black; 
    cursor: pointer;
    line-height: 40px;
    padding-left: 11px;
  }
  li:hover{
    background-color: #e0d9d9;
  }
}

.btn {
  background: #ffb444;
  box-shadow: none;
}

.btn:hover{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.card{
  background-color: white;
  border-radius: 2%;
}

.card-content{
  text-align: center;
  padding: 10px 20px;
  .row{
    margin-bottom: 0;
    margin-left: 1rem;
    label{
      margin-left: 0.5rem;
    }
  }
  h5{
    font-weight: bold;
    line-height: 25px;
    margin: 0px;
    margin-top: 0.82rem;
  }
  p{
    color: black;
    padding: 3%;
  }
}

.center{
  display: block;
  margin: auto;
}

.fonts{
  font-weight: 900;
  h4{
    margin: 0px;
    margin-bottom: 15px; 
    padding: 0px;
  }
}

.modal{
  background: white;
  border-radius: 5px;
  box-shadow: 2px -2px 13px 3px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  display: none;
  margin: auto;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
  width: 25%;
  min-width: 400px;
  z-index: 1;
  header{
    margin-bottom: 0px;
    padding: 3%;
    padding-right: 2%;
    h4{
      font-size: 20px;
      margin-top: 5px;
    }
    img{
      cursor: pointer;
      float: right;
    }
  }
}

.modal-overlay {
  background: black;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: none;
  min-height: 450px;
  position: absolute;
  overflow-y: hidden;
  height: 100%;
  width: 100%;
  will-change: opacity;
  z-index: -5;
}

.selected{
  background: white;
  p{
    color: black;
  }
}

.True{
  background: #c20000;
  p{
    color: white;
  }
}

.False{
  background: #ffb444;
}