<div class="row">
	<div #mainCol class="col s4 m3 l2 xl1"></div>
	<div id="mainPanel" class="col s8 m9 l10 xl11">
    <div class="row"> <!-- Basic Info -->
      <h4 class="col m4 l3 fonts">Mesas</h4>
    </div>
    <div id="scrollSpace">
      <div class="col s6 m3 l2" *ngFor="let table of tables"> <!-- Tables Cards -->
        <div class="card" [class.True]="table.status">
          <div class="card-content" [routerLink]="[table.key]">
            <img src="./assets/icon/table.png" style="width: 25%; margin: auto">
            <h5>{{table.numero}}</h5>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>  