<div class="row" style="overflow-y: hidden;">
	<div id="mainCol" class="col s4 m3 l2 xl1 hide-on-small-only">
		<ul class="collection" *ngFor="let section of sections">
			<a routerLink='{{section.route}}' (click)="option= section.option">	
				<li class="collection-item" [class.selected]="option=== section.option">
					<div class="white-text row valign-wrapper">
						<p class ="col s10"><b>{{section.name}}</b></p>
					</div>
				</li>
			</a>
  	</ul>
	</div>
	<div id="mainPanel" class="col s8 m9 l10 xl11">
	</div>
</div>
<router-outlet></router-outlet>