/* You can add global styles to this file, and also import other style files */


#mainCol {
  background-color: #ff0100;
  float: left;  
  position: absolute;
  top: 0;
  height: 100%;
  min-height: 450px;
  z-index: -1;
}


#mainPanel {
  background-color: whitesmoke;
  position: absolute;
  top: 0;
  right: 0;
  min-height: 450px;
  height: 100%;
  z-index: -1;
}
